@media (max-width: 600px) {

  .logo-link .logo-img {
      width: 50%;
    }
/*PRODUCTOS MOBILE*/
    .content-galery {
    background-color: $color-fondos;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6, 200px);
    }
    .tt-producto {
      text-align: center;
      place-items: center;
      padding: auto;
      font-size: 1.5rem;
      color: $color-principal;
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Inicialmente invisible */
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
  font-family: $fuente-principal;
  font-size: 1.2rem; /* Tamaño de fuente del texto (ajusta según necesites) */
}

.img-content .overlay {
  font-family: $fuente-principal;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Muestra la capa oscura */
  opacity: 1; /* Hace visible el texto */
}
 /*FOOTER MOBILE*/
  .footer-content .center-f .logo-img-footer{
        width: 60%;
   }

   .redes-fa {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    size: 20%;
 i{
      color: #141414;
      font-size: 1rem;
 }
}
 /*INFORMACION MOBILE*/
   .main-container{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
   }
   /*NOSOTROS MOBILE*/
   .nos-container {
    display: flex;
    flex-direction: column;
  
   } 
   
   .img-med {
     padding: auto;
   }
   /*CONTACTO*/
  
   .main-ctt {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }
   .form-grid {
    margin: 0;
    justify-content: center;
    place-items: center;
    display: flex;
    flex-direction: column;
    
   }
   .mapa-form {
    overflow: hidden;
    width: 90%;
    height: auto
  }
  
}
